.logo img {
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f5f7f6;
  color: #2b2b2b;
  line-height: 1.7;
}

/* NAV */
nav {
  background: #0f5132;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
header {
  background: linear-gradient(rgba(15,81,50,0.85), rgba(15,81,50,0.85)),
  url("background.jpg");
  background-size: cover;
  background-position: top;
  color: white;
}

.hero {
  padding: 120px 20px;
  text-align: center;
}

.hero h1 {
  font-family: 'Amiri', serif;
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  max-width: 800px;
  margin: auto;
}

.hero span {
  display: block;
  margin-top: 15px;
  font-style: italic;
}

/* SECTION */
section {
  padding: 80px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.bg-light {
  background: #eef4f1;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #0f5132;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* SOCIAL */
.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social a {
  text-decoration: none;
  background: #198754;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
}

/* FOOTER */
footer {
  background: #0f5132;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media(max-width:768px){
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 32px;
  }
}
